<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Парсер научных статей</title>
    <link rel="stylesheet" th:href="@{/style.css?v=123456}">
    <link href="https://fonts.cdnfonts.com/css/lato" rel="stylesheet">
    <style>
        @import url('https://fonts.cdnfonts.com/css/lato');
    </style>
</head>
<body>
    <div class="desktop-1">
        <img alt="" class="image-1" src="/image.png">
        <div class="top-name">
            <p class="top-name1">Парсер научных статей</p>
        </div>
        <div class="div-author-text">
            <p class="text-author-info">
                Ведите автора для получения информации о нем
            </p>
            <input type="text" class="div-author-info-input" id="requestForAuthorInfo" name="requestForAuthorInfo" required><br><br>
        </div>
        <form id="getPublicationInTopic">
            <button class="button-get-popular" id="getTopicPublicationInfoButton">Получить информацию</button>
        </form>
        <form id="getPublicationInSearch">
            <button class="button-get-other" id="getSearchPublicationInfoButton">Получить информацию</button>
        </form>
        <button class="button-get-author-info" id="getAuthorInfoButton">Информация об авторе</button>
        <div class="publication-table-container">
            <table class="publication-table" id="publicationsTable">
                <thead>
                <tr>
                    <th style="width: 15px;">ID</th>
                    <th style="width: 100px;">Title</th>
                    <th style="width: 40px;">Type</th>
                    <th style="width: 60px;">TextAvailable</th>
                    <th style="width: 75px;">DateCompletion</th>
                    <th style="width: 120px;">Authors</th>
                    <th style="width: 200px;">Annotation</th>
                    <th style="width: 180px;">UrlOnPublication</th>
                    <th style="width: 180px;">UrlForDownload</th>
                </tr>
                </thead>
                <tbody id="publicationBody"></tbody>
            </table>
        </div>
        <div class="table-author-info-container">
            <table class="author-info-table" id="authorTable">
                <thead>
                <tr>
                    <th style="width: 15px;">ID</th>
                    <th style="width: 100px;">Name</th>
                    <th style="width: 150px;">Url</th>
                    <th style="width: 40px;">
                        Research<br>
                        Interest<br>
                        Score</th>
                    <th style="width: 40px;">Citations</th>
                    <th style="width: 30px;">h-index</th>
                    <th style="width: 40px;">
                        Amount<br>
                        Publication</th>
                    <th style="width: 150px;">Title</th>
                    <th style="width: 180px;">UrlOnPublication</th>
                </tr>
                </thead>
                <tbody id="authorInfoBody"></tbody>
            </table>
        </div>
        <div class="frame-popular">
            <select class="popular-thematics" id="requestInTopic" name="requestInTopic" required>
                <option value="Engineering">Engineering</option>
                <option value="Mathematics">Mathematics</option>
                <option value="Biology">Biology</option>
                <option value="Computer Science">Computer Science</option>
                <option value="Climate Change">Climate Change</option>
                <option value="Medicine">Medicine</option>
                <option value="Physics">Physics</option>
                <option value="Social Science">Social Science</option>
                <option value="Astrophysics">Astrophysics</option>
                <option value="Chemistry">Chemistry</option>
            </select><br><br>
            <p class="num-page-popular">
                Введите количество страниц
            </p>
            <input class="div-num-page-popular" type="number" id="numberOfPagesInTopic" name="numberOfPagesInTopic" min="1" max="20" required><br><br>
            <p class="popular-text">
                Выберите популярную тематику
            </p>
        </div>
        <div class="frame-other-thematics">
            <input type="text" class="div-other-thematics" id="requestInSearch" name="requestInSearch" required><br><br>
            <p class="num-page-other-thematics">
                Введите количество страниц
            </p>
            <input class="div-num-page-other" type="number" id="numberOfPagesInSearch" name="numberOfPagesInSearch" min="1" max="20" required><br><br>
            <p class="text-other-thematics">
                Укажите тематику для поиска
            </p>
        </div>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            document.getElementById('getTopicPublicationInfoButton').addEventListener('click', function(event) {
                event.preventDefault();

                var requestInTopic = document.getElementById('requestInTopic').value;
                var numberOfPagesInTopic = document.getElementById('numberOfPagesInTopic').value;

                var url = '/parse/getPublicationInTopic?requestInTopic=' + encodeURIComponent(requestInTopic) + '&numberOfPagesInTopic=' + encodeURIComponent(numberOfPagesInTopic);

                fetch(url, {
                    method: 'GET'
                })
                    .then(response => response.json())
                    .then(data => {
                        var tableBody = document.getElementById('publicationBody');

                        data.forEach(function(Publication) {
                            var row = document.createElement('tr');

                            var idPublication = document.createElement('td');
                            idPublication.textContent = Publication.id;
                            row.appendChild(idPublication);

                            var Title = document.createElement('td');
                            Title.textContent = Publication.title;
                            row.appendChild(Title);

                            var Type = document.createElement('td');
                            Type.textContent = Publication.type;
                            row.appendChild(Type);

                            var TextAvailable = document.createElement('td');
                            TextAvailable.textContent = Publication.textAvailable;
                            row.appendChild(TextAvailable);

                            var DateCompletion = document.createElement('td');
                            DateCompletion.textContent = Publication.dateCompletion;
                            row.appendChild(DateCompletion);

                            var Authors = document.createElement('td');
                            if (Publication.authors.length > 0) {
                                Authors.textContent = Publication.authors.map(function(author) {
                                    return author.name;
                                }).join(', ');
                            } else {
                                Authors.textContent = "Отсутствует";
                            }
                            row.appendChild(Authors);

                            var Annotation = document.createElement('td');
                            var annotationDiv = document.createElement('div');
                            annotationDiv.classList.add('annotation-div');

                            var annotationText = document.createElement('div');
                            annotationText.classList.add('annotation-text');
                            annotationText.textContent = Publication.annotation;
                            annotationDiv.appendChild(annotationText);

                            var showButton = document.createElement('button');
                            showButton.textContent = 'Показать';
                            showButton.addEventListener('click', showAnnotationText);
                            annotationDiv.appendChild(showButton);

                            Annotation.appendChild(annotationDiv);
                            row.appendChild(Annotation);

                            var UrlOnPublication = document.createElement('td');
                            UrlOnPublication.textContent = Publication.urlOnPublication;
                            row.appendChild(UrlOnPublication);

                            var UrlForDownload = document.createElement('td');
                            UrlForDownload.textContent = Publication.urlForDownload;
                            row.appendChild(UrlForDownload);

                            tableBody.appendChild(row);
                        });
                    })
                    .catch(error => {

                        console.log(error);
                    });
            });
        });
        function showAnnotationText(event) {
            var button = event.target;
            var div = button.parentNode;
            var annotationText = div.querySelector('.annotation-text');

            if (div.classList.contains('expanded')) {
                annotationText.style.display = 'none';
                button.textContent = 'Показать';
                div.classList.remove('expanded');
            } else {
                annotationText.style.display = 'block';
                button.textContent = 'Скрыть';
                div.classList.add('expanded');
            }
        }
        document.addEventListener('DOMContentLoaded', function() {
            document.getElementById('getSearchPublicationInfoButton').addEventListener('click', function(event) {
                event.preventDefault();

                var requestInSearch = document.getElementById('requestInSearch').value;
                var numberOfPagesInSearch = document.getElementById('numberOfPagesInSearch').value;

                var url = '/parse/getPublicationInSearch?requestInSearch=' + encodeURIComponent(requestInSearch) + '&numberOfPagesInSearch=' + encodeURIComponent(numberOfPagesInSearch);

                fetch(url, {
                    method: 'GET'
                })
                    .then(response => response.json())
                    .then(data => {
                        var tableBody = document.getElementById('publicationBody');

                        data.forEach(function(Publication) {
                            var row = document.createElement('tr');

                            var idPublication = document.createElement('td');
                            idPublication.textContent = Publication.id;
                            row.appendChild(idPublication);

                            var Title = document.createElement('td');
                            Title.textContent = Publication.title;
                            row.appendChild(Title);

                            var Type = document.createElement('td');
                            Type.textContent = Publication.type;
                            row.appendChild(Type);

                            var TextAvailable = document.createElement('td');
                            TextAvailable.textContent = Publication.textAvailable;
                            row.appendChild(TextAvailable);

                            var DateCompletion = document.createElement('td');
                            DateCompletion.textContent = Publication.dateCompletion;
                            row.appendChild(DateCompletion);

                            var Authors = document.createElement('td');
                            Authors.textContent = Publication.authors.map(function(author) {
                                return author.name;
                            }).join(', ');
                            row.appendChild(Authors);

                            var Annotation = document.createElement('td');
                            var annotationDiv = document.createElement('div');
                            annotationDiv.classList.add('annotation-div');

                            var annotationText = document.createElement('div');
                            annotationText.classList.add('annotation-text');
                            annotationText.textContent = Publication.annotation;
                            annotationDiv.appendChild(annotationText);

                            var showButton = document.createElement('button');
                            showButton.textContent = 'Показать';
                            showButton.addEventListener('click', showAnnotationText);
                            annotationDiv.appendChild(showButton);

                            Annotation.appendChild(annotationDiv);
                            row.appendChild(Annotation);

                            var UrlOnPublication = document.createElement('td');
                            UrlOnPublication.textContent = Publication.urlOnPublication;
                            row.appendChild(UrlOnPublication);

                            var UrlForDownload = document.createElement('td');
                            UrlForDownload.textContent = Publication.urlForDownload;
                            row.appendChild(UrlForDownload);

                            tableBody.appendChild(row);
                        });
                    })
                    .catch(error => {
                        console.log(error);
                    });
            });
        });

        document.addEventListener('DOMContentLoaded', function() {
            document.getElementById('getAuthorInfoButton').addEventListener('click', function(event) {
                event.preventDefault();

                var requestNameAuthor = document.getElementById('requestForAuthorInfo').value;

                var url = '/parse/getAuthorInfo?requestNameAuthor=' + requestNameAuthor;

                fetch(url, {
                    method: 'GET'
                })
                    .then(response => response.json())
                    .then(data => {
                        var authorsBody = document.getElementById('authorInfoBody');

                        var AuthorInfo = data;
                        var row = document.createElement('tr');

                        var idAuthor = document.createElement('td');
                        idAuthor.textContent = AuthorInfo.id;
                        row.appendChild(idAuthor);

                        var NameAuthor = document.createElement('td');
                        NameAuthor.textContent = AuthorInfo.name
                        row.appendChild(NameAuthor);

                        var UrlOnAuthor = document.createElement('td');
                        UrlOnAuthor.textContent = AuthorInfo.url;
                        row.appendChild(UrlOnAuthor);

                        var ResearchInterestScore = document.createElement('td');
                        ResearchInterestScore.textContent = AuthorInfo.researchInterestScore;
                        row.appendChild(ResearchInterestScore);

                        var Citations = document.createElement('td');
                        Citations.textContent = AuthorInfo.citations;
                        row.appendChild(Citations);

                        var hIndex = document.createElement('td');
                        hIndex.textContent = AuthorInfo.hindex;
                        row.appendChild(hIndex);

                        var AmountPublication = document.createElement('td');
                        AmountPublication.textContent = AuthorInfo.amountPublication;
                        row.appendChild(AmountPublication);

                        var TitlePublication = document.createElement('td');
                        TitlePublication.innerHTML = AuthorInfo.publications
                            .filter(function(publication) {
                                return publication.title && !publication.title.includes("null");
                            })
                            .map(function(publication, index) {
                                return (index + 1) + ") " + publication.title + "<br>";
                            })
                            .join("");
                        row.appendChild(TitlePublication);

                        var UrlOnPublication = document.createElement('td');
                        UrlOnPublication.innerHTML = AuthorInfo.publications
                            .filter(function(publication) {
                                return publication.urlOnPublication && !publication.urlOnPublication.includes("null");
                            })
                            .map(function(publication, index) {
                                return (index + 1) + ") " + publication.urlOnPublication + "<br>";
                            })
                            .join("");

                        row.appendChild(UrlOnPublication);

                        authorsBody.appendChild(row);
                    })
                    .catch(error => {
                        console.log(error);
                    });
            });
        });
    </script>
</body>
</html>
